<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rizon">
  <!-- Enable setting arguments from the launch file -->
  <!-- 'rizon_type' values: rizon4, rizon4s, rizon10 -->
  <xacro:arg name="rizon_type" default="rizon4"/>

  <!-- import main macro -->
  <xacro:include filename="$(find flexiv_description)/urdf/rizon_macro.xacro"/>

  <!-- parameters -->
  <xacro:arg name="prefix" default="" />

  <xacro:rizon_robot
    rizon_type="$(arg rizon_type)" 
    prefix="$(arg prefix)"/>

</robot>
